@use '../tools/includes' as s;
@use 'sass:color';
@use '../ui/notes';
@use '../ui/tooltip';
@use '../ui/buttons';
@use '../ui/pagination';

#page {
  font-size: s.$text-m;
  z-index: 0;

  @include s.responsive-big {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
