@use '../tools/includes' as s;
@use 'sass:color';
@use '../ui/notes';
@use '../ui/tooltip';
@use '../ui/buttons';

#page {
  font-size: s.$text-m;
  z-index: 0;

  @include s.responsive-big {
    width: 95%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.content {
  margin: 10px 0;
  opacity: 1;
  background-color: color.scale(s.$background-color, $alpha: -50%);
  backdrop-filter: blur(2px);
  @include s.responsive-borders(s.$border-color, s.$shadow-color);

  & > h1 {
    color: s.$color3;
  }
}
